@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --bg-dark-color: 30, 30, 30;
  --bg-color: 40, 40, 40;
  --bg-light-color: 64, 64, 64;
  --font-color: 255, 255, 255;
  --accent-color: 23, 93, 220;
  --danger-color: 232, 74, 95;

  --border-radius: 7px;

  --transition-duration: 200ms;
}

html {
  color-scheme: dark;
  background-color: rgb(var(--bg-dark-color));
  color: rgb(var(--font-color));
  font-size: 10px;
  user-select: none;
}

html,
body,
#app {
  height: 100%;
}

::placeholder {
  color: rgb(var(--font-color));
  opacity: 0.5;
}

::selection {
  background-color: rgba(var(--accent-color), 0.65);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--font-color), 0.1);
  border-radius: 50px;
}

.icon {
  height: 70%;
}

.blink-loading-placeholoder {
  background-color: rgb(var(--font-color), 0.2);
  animation: 1.5s blink infinite;
}

@keyframes blink {
  0% {
    background-color: rgb(var(--font-color), 0.2);
  }
  10% {
    background-color: rgb(var(--font-color), 0.4);
  }
  20% {
    background-color: rgb(var(--font-color), 0.2);
  }
  100% {
    background-color: rgb(var(--font-color), 0.2);
  }
}
